<p><%= @reservation.name %> 様</p>

<p>この度はご予約ありがとうございます。</p>

<p>
ご予約内容は以下の通りです：<br>
日時: <%= @reservation.starts_at.strftime("%Y年%m月%d日 %H:%M") %><br>
ご用件: <%= @reservation.menu %>
</p>

<p>当日お待ちしております。</p>
